@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>ODS System es un sistema de gestión de la planificación estratégica vinculada a los objetivos de desarrollo sostenible 2030.</p>
