@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Víctor Daniel Velázquez Ramos<br />
    @*Redmond, WA 98052-6399<br />*@
    @*<abbr title="Phone">P:</abbr>
    425.555.0100*@
</address>

<address>
    <strong>Soporte:</strong>   <a href="mailto:victor-velazquez@live.com.mx">victor-velazquez@live.com.mx</a><br />
    <strong>Marketing:</strong> <a href="mailto:victor-velazquez@live.com.mx">victor-velazquez@live.com.mx</a>
</address>