@model ODS.DataLayer.ods_estado_tarea

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ods_estado_tarea</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.EstadoTarea)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EstadoTarea)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IdEstadoTarea }) |
    @Html.ActionLink("Back to List", "Index")
</p>
